/* 改变主题色变量 */
$--color-primary:#F93;
$--color-success:#33CC99;
$--color-warning:#FFB000;
$--color-danger:#F5222D;
$--color-info:#FC8181;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

//===================im start
//TopBar下拉菜单 宽度
.el-menu--popup{
  min-width: 100px;
  width:100px;
  // margin-left:15px;
}
.el-menu--horizontal{
  margin-left:15px;
  border-bottom: none;
}
//左侧导航
#left_nav_wrap{
  width:180px;
  max-width: 180px;
  min-height:calc(100vh - 62px);
}
//页面主内容区
#main_wrap{
  position: relative;
  width:calc( 100% - 180px );
  padding:20px 20px 0 20px;
  background:rgba(237,240,245,1);
  min-height:calc(100vh - 62px);
}
// 页脚
.copyright{
  position: absolute;
  bottom:0px;
  left: 0;
  width: 100%;
}
.copyright p{
  color: #666;
  font-size: 12px;
  text-align:center;
}
//登录
.onelogin{
  border-radius: 10px;
}
.need_login-phone input{
  background: url(./user.png) no-repeat 5px center !important;
  padding-left: 35px;
}
.need_login-password input{
  background: url(./lock.jpg) no-repeat 5px center !important;
  padding-left: 35px;
}
.need_login-vcode .el-input__inner{
  padding-right:95px !important;
}
.need_login .el-dialog--center .el-dialog__body{
  padding-bottom: 0;
}
.need_login .el-form-item--small.el-form-item{
  margin-bottom: 25px;
}
// ele扩展：Base表格
.table_wrap{
  background: #FFF;
  margin-top: 10px;
}
.table_wrap-search{
  text-align: right;
  line-height: 50px;
  height: 50px;
  padding-right: 20px;
}
.table_wrap-input_serach{
  /* width: 220px; */
}
.table_wrap-search_wrap{
  position: relative;
  display: inline-block;
  width: 220px;
}
.table_wrap-btn_search{
  position: absolute;
  top:9px;
  right:0;
}
.table_wrap .el-pagination__jump{
  margin-right:20px;
}
.table_wrap .el-table__body-wrapper{
  min-height: 440px;
}
.el-table__row--striped{
  background:#F9F9F9;
}
.table_wrap .el-table .cell{
  text-align: center;
}
.el-table__header-wrapper th{
  background:#f5f5f5;
}
.el-table__header-wrapper .cell{
  color:#333;
  font-weight: 500;
  font-size:12px;
}
.el-table td,.el-table th{
  border:none !important;
}
.im-table-expand {
  font-size: 0;
}
.im-table-expand label {
  width: 90px;
  color: #99a9bf;
}
.im-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}
.table_wrap-pagination{
  padding:20px;
}


//通用或测试
.im_img{
  border:1px solid black;
}
//内容区二级标题
.title{
  font-size: 14px;
  color: #000;
  font-weight: 500;
  line-height: 50px;
  height: 50px;
  padding: 0 20px;
  margin: 0;
}
// 电动车
.e_v .el-input-group__prepend{
  width:33px !important;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.e_v .el-input-group__prepend img{
  position: absolute;
  top:4px;
  left:6px;
}

//classes
.overtext{
  width: 100%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
