/* 改变主题色变量 */
$--color-primary:#F93;
$--color-success:#33CC99;
$--color-warning:#FFB000;
$--color-danger:#F5222D;
$--color-info:#FC8181;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

//TopBar下拉菜单 宽度
.el-menu--popup{
  min-width: 100px;
  width:100px;
  // margin-left:15px;
}
.el-menu--horizontal{
  margin-left:15px;
  border-bottom: none;
}
