/* 改变主题色变量 */
$--color-primary:#F93;
$--color-success:#33CC99;
$--color-warning:#FFB000;
$--color-danger:#F5222D;
$--color-info:#FC8181;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";
/* display 基于断点的隐藏类 */
@media only screen and (max-width:767px){.hidden-xs-only{display:none!important}}@media only screen and (min-width:768px){.hidden-sm-and-up{display:none!important}}@media only screen and (min-width:768px) and (max-width:991px){.hidden-sm-only{display:none!important}}@media only screen and (max-width:991px){.hidden-sm-and-down{display:none!important}}@media only screen and (min-width:992px){.hidden-md-and-up{display:none!important}}@media only screen and (min-width:992px) and (max-width:1199px){.hidden-md-only{display:none!important}}@media only screen and (max-width:1199px){.hidden-md-and-down{display:none!important}}@media only screen and (min-width:1200px){.hidden-lg-and-up{display:none!important}}@media only screen and (min-width:1200px) and (max-width:1919px){.hidden-lg-only{display:none!important}}@media only screen and (max-width:1919px){.hidden-lg-and-down{display:none!important}}@media only screen and (min-width:1920px){.hidden-xl-only{display:none!important}}

//===================im start
html,body{
  background:#F2F2F2;
}
html,body,h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
  font-weight: 300;
}
html,body,p,a,header,hgroup,menu,nav,section,article,aside,details,figcaption,figure,footer,form,input,select,textarea,ul,ol,li{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-weight:normal;
}
//eui font
.main_title{
  font-size: 18px;
  font-weight: 500;
}
.title{
  font-size: 16px;
}
.copyright p{
  font-size: 12px;
  font-weight:300;
}
//eui layout
//页面主内容区
#main_wrap{
  position: relative;
  /*width:calc( 100% - 180px );*/
  width:1020px;
  padding:25px 25px 50px 25px;
  background:rgba(237,240,245,1);
  min-height:calc(100vh - 62px);
}
//breadcrumb
.im_breadcrumb{
  background: #fff;
  margin-left: -25px;
  margin-right: -25px;
  margin-top: -25px;
  padding:15px 40px;
}
.im_breadcrumb small{
  font-weight:300;
  font-size:13px;
}
//左侧导航
#left_nav_wrap{
  width:180px;
  max-width: 180px;
  min-height:calc(100vh - 62px);
}
//内容区二级标题
h3.title{
  color: #000;
  font-weight: 500;
  line-height: 50px;
  height: 50px;
  margin:0;
  text-align: left;
  padding: 0 15px;
}
// 页脚
.copyright{
  position: absolute;
  bottom:0px;
  left: 0;
  width: 100%;
}
.copyright p{
  color: #666;
  text-align:center;
}
//登录
.onelogin{
  border-radius: 10px;
}
.need_login-phone input{
  background: url(./user.png) no-repeat 5px center !important;
  background-size: 20px 20px !important;
  padding-left: 35px;
}
.need_login-password input{
  background: url(./lock.png) no-repeat 5px center !important;
  background-size: 20px 20px !important;
  padding-left: 35px;
}
.need_login-vcode .el-input__inner{
  padding-right:95px !important;
}
.need_login .el-dialog--center .el-dialog__body{
  padding-bottom: 0;
}
.need_login .el-form-item--small.el-form-item{
  margin-bottom: 25px;
}
// 模态扩展
.modal_wrap .el-select--small{
  width:100%;
}
// ele扩展：Base表格
.table_wrap{
  background: #FFF;
  margin-top: 10px;
}
.table_wrap-search{
  text-align: right;
  line-height: 50px;
  height: 50px;
  padding-right: 20px;
}
.table_wrap-input_serach{
  /* width: 220px; */
}
.table_wrap-search_wrap{
  position: relative;
  display: inline-block;
  width: 220px;
}
.table_wrap-btn_search{
  position: absolute;
  top:9px;
  right:0;
}
.table_wrap .el-pagination__jump{
  margin-right:20px;
}
.table_wrap .el-table__body-wrapper{
  min-height: 440px;
}
.el-table__row--striped{
  background:#F9F9F9;
}
.table_wrap .el-table .cell{
  text-align: center;
}
.el-table__header-wrapper th{
  background:#f5f5f5;
}
.el-table__header-wrapper .cell{
  color:#333;
  font-weight: 500;
  font-size:12px;
}
.el-table td,.el-table th{
  border:none !important;
}
.im-table-expand {
  font-size: 0;
}
.im-table-expand label {
  color: #99a9bf;
  width:150px;
}
.im-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}
.table_wrap-pagination{
  /*padding:20px;*/
}
/*充值成功模态(empty body)*/
.modal_wrap-empty_body .el-dialog__body{
  display: none;
}
// 中控
.e_v .el-input-group__prepend{
  width:33px !important;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.e_v .el-input-group__prepend img{
  position: absolute;
  top:4px;
  left:6px;
}
//empty_wrap
.eqcalc{
  min-height: calc(100vh - 142px);
}
.im_empty_wrap{
  position: relative;
  background: #FFF;
}
.im_empty{
  position: absolute;
  left:50%;
  top: 50%;
  width: 170px;
  height: 210px;
  margin-left: -85px;
  margin-top: -135px;

  text-align: center;
}
.im_empty_img{
  max-width:100%;
}
.im_empty_p{
  color: #999;
}
//common overtext
.eye_icon_wrap{
  color:#222 !important;
}
.overtext{
  width: 100%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.im_img{
  border:1px solid black;
}
.red{
  color:#E00;
}
input::-ms-clear, input::-ms-reveal {
    display: none !important;
}
.hidden{
  display:none !important;
}